@import "products";
@import "myheader";
@import "card";

.content {
  padding-top: 50px;
}

h1 {
  text-align: center;
  font-weight: 800 ;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 70px;
  letter-spacing: normal ;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  color: rgb(72, 72, 72);
  padding-top: 2px;
  padding-bottom: 30px !important;
}


.search-form {
  text-align: center;
  margin-bottom: 30px;
}

