<h1>Our Catalogue</h1>

  <div class="search-form">
    <form action="/catalogue" method = "get">
      <input type="text" name="name_search" placeholder="Search">
      <input type="submit">
    </form>
  </div>

  <div class="card-container">
    <% @catalogue.each do |product| %>
      <div class="card-catalogue">
        <div class="card-catalogue-title">
          <%= link_to product.name, product_path(id: product.id)%>
        </div>
      </div>
    <% end %>
  </div>


