<h1>Our whole catalogue</h1>

<form action="/catalogue" method = "get">
  <input type="text" name="name_search" placeholder="Search">
  <input type="submit">
</form>

<ul>
  <% @catalogue.each do |product| %>
  <li>
    <%= link_to product.name, product_path(id: product.id)%>
  </li>
<% end %>
</ul>
