<h1>Successfully remove <%= @product.name %></h1>


<h2>Your cart</h2>
<!-- <ul>
  <% @cart.each do |product| %>
  <li>
    <%= product.name%> <%= link_to "Remove", remove_path(id: product.id) %>
  </li>
<% end %>
</ul> -->



<%= render "cartlist", locals: {cart: @cart} %>
